* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    margin: 0 auto;
    max-width: 100%;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.row:not(.sm, .big) {
    width: 60%;
}
.row:not(.f) {
    height: 100%;
    margin: auto;
}
/*intestazione*/
header {
    border-bottom: 4px solid lightblue;
}
.container.h {
    height: 60px;
    background-color: lightblue;
}
.col.h.left, .col.h.right {
    width: 20%;
}
.col.h.medium {
    width: 60%;
    text-align: center;
}
.col.h.right {
    text-align: right;
}
.col.h {
    height: 40px;
    background-color: rgb(250, 186, 69);
    border: 2px dashed black;
    align-self: center;
}
li {
    list-style: none;
    display: inline-block;
    flex-direction: row;
    text-align: center;
}
.content.h {
    line-height: 38px;
}
.content.h.left, .content.h.right {
    padding: 0px 10px;
}
/*layout singolo piccolo*/